@media only screen and (max-width: 1440px) {
  .dp__background-title {
    font-size: 45px;
  }

  .dp__about__road {
    max-width: 1270px;
    width: 100%;
  }
}

@media only screen and (max-width: 1366px) {
  .dp__about__road {
    max-width: 1170px;
  }

  .dp__must__have-item {
    flex: 23.9%;
  }
}

@media only screen and (max-width: 1199px) {
  .dp__about__road {
    max-width: 1040px;
  }

  .dp__must__have-wrapper {
    width: 97%;
  }

  .dp__must__have-item {
    flex: 27%;
  }
}

@media only screen and (max-width: 1110px) {
  .dp__about__road {
    max-width: 960px;
  }

  .dp__must__have-item {
    flex: 27%;
  }
}

@media only screen and (max-width: 991px) {
  .dp__background-title {
    font-size: 40px;
  }

  .dp__background-title,
  .dp__background-desc,
  .dp__background-button {
    max-width: 685px;
  }

  .dp__about__road {
    width: 80%;
    flex-direction: column-reverse;
  }

  .dp__about,
  .dp__road {
    flex: 100%;
    margin: 60px 15px 0;
  }

  .dp__road {
    padding: 0;
  }

  .dp__about-thefact {
    font-size: 30px;
  }

  .dp__must__have-title {
    font-size: 30px;
  }

  .dp__must__have-wrapper {
    width: 95%;
    justify-content: space-between;
  }

  .dp__must__have-item {
    flex: 0 0 auto;
    width: 45.8%;
  }
}

@media only screen and (max-width: 767px) {
  .dp__background-title {
    font-size: 35px;
  }

  .dp__about__road {
    width: 90%;
    flex-direction: column-reverse;
  }

  .dp__about,
  .dp__road {
    margin-top: 60px;
  }

  .dp__about {
    margin-right: 13px;
  }

  .dp__about-thefact {
    font-size: 30px;
  }

  .dp__must__have-item {
    flex: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .dp__background-title {
    font-size: 30px;
    padding: 0 10px;
  }

  .dp__background-desc,
  .dp__must__have-name {
    font-size: 18px;
  }

  .dp__background-button a {
    padding: 10px 30px !important;
    font-size: 15px;
  }

  .dp__about__road {
    width: 100%;
    flex-direction: column-reverse;
  }

  .dp__about {
    padding: 40px 30px 50px;
  }

  .dp__about-thefact,
  .dp__must__have-title {
    font-size: 25px;
  }

  .dp__must__have-wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 425px) {
  .dp__background {
    padding: 125px 15px 425px;
  }

  .dp__background-title {
    font-size: 25px;
  }

  .dp__background-desc {
    font-size: 18px;
  }

  .dp__background-button {
    font-size: 15px;
  }

  .dp__about__road {
    flex-direction: column-reverse;
  }
}
/* responsive */

@media (max-width: 1200px) {
  .concerns__collapse-content-item {
    width: 90%;
  }
  .concerns__collapse-content-item .c__btn::before {
    left: 11%;
  }
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-footer {
    width: 85%;
  }
}

@media (max-width: 1080px) {
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-header {
    width: 100%;
    padding: 40px;
    height: auto;
    background-color: #f3f8f9;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    min-height: 330px;
  }
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-footer {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .concerns__body {
    flex-wrap: wrap;
  }
  .concerns__collapse {
    width: 100%;
  }
  .concerns__img {
    margin-top: 50px;
    width: 100%;
  }
  .concerns__collapse-content-item .c__btn::before {
    left: 20%;
  }
  .dp-alumni-saying {
    margin-top: 50px;
  }
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-header {
    width: 100%;
    padding: 80px;
    min-height: 200px;
  }
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-header
    .alumni-saying__header-1 {
    padding: 40px 0px 0px;
  }
  .alumni-saying__body
    .alumni-saying__content
    .alumni-saying__card
    .alumni-saying__item
    .alumni-saying__item-header
    .alumni-saying__header-1
    .heard-1__img {
    position: absolute;
    width: 50px;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 580px) {
  .concerns__collapse-content-item .c__btn{
    width: 65%;
    height: 85px; 
  }
  .concerns__collapse-content-item .c__btn::before{
    left: 24%;
  }
  .concerns__collapse-content-item{
    margin-top: 10%;
  }
  .alumni-saying__body .alumni-saying__content .alumni-saying__card .alumni-saying__item .alumni-saying__item-header .alumni-saying__header-1{
    font-size: 21px;
  }
 
}
@media (max-width: 350px) {
  .concerns__collapse-content-item{
    margin-top: 15%;
  }
  .alumni-saying__body .alumni-saying__content .alumni-saying__card .alumni-saying__item .alumni-saying__item-header .alumni-saying__header-1{
    font-size: 16px;
  }
  .alumni-saying__body .alumni-saying__content .alumni-saying__card .alumni-saying__item .alumni-saying__item-header{
    padding:30px;
  }
}
@media (max-width: 270px) {
  .concerns__collapse-title h2{
    font-size: 22px;
  }
  .alumni-saying__body .alumni-saying__content .alumni-saying__card .alumni-saying__item .alumni-saying__item-header{
    padding:30px;
  }
}

/* end responsive */

/* Tuan-reponsive-Footer */


@media only screen and (max-width: 1366px) {
  .footer_content {
    max-width: 1170px;
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .footer_content {
    max-width: 960px;
  }
}

@media only screen and (max-width: 991px) {

  .footer_content {
    max-width: 720px;
  }
  .footer_content {
    flex-direction: column;
  }
  .footer_content_for-devplus,
  .footer_content_our-campus,
  .footer_content_the-skill,
  .footer_content_address {
    flex: 100%;
  }
  .facebook-text {
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px) { 
  .footer_content {
    max-width: 540px;
  }
}


/* Tuan 3.5 admission */
@media only screen and (max-width :992px) {
  .dp-admission {
      flex-direction: column;

  }

  .admission_img, .amission_content {
      flex: 100%;

  }
  .admission_img{
      padding: 0;
  }
   .amission_content{
       padding: 0 25px; 
      margin-right: 0;
      width: 100%;
  }


  .amission_content_container {
      max-width: 700px;
      
  }
}

@media only screen and (max-width: 575px) {
 
  .dp-admission .amission_content_btn_apply {
    padding: 14px 30px;
}
}


