@font-face {
  src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-family: 'Nunito';
}

@font-face {
  src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
  font-family: 'Rubik';
}

* {
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 400;
  color: #505050;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.dp__background-button a,
.dp__background-title,
.dp__road-title,
.dp__must__have-item:hover .dp__must__have-content .dp__must__have-name,
.dp__must__have-item:hover .dp__must__have-content .dp__must__have-course {
  color: #ffffff;
}

.dp__about-title,
.number {
  color: #226FB7;
}

.dp__about-thefact,
.dp__must__have-name,
.dp__must__have-title {
  color: #111111;
}

.dp__background-desc,
.dp__background-button a,
.dp__about-title,
.dp__about-desc,
.desc,
.dp__must__have-course {
  font-family: 'Rubik';
}

.dp__about-title,
.dp__about-desc {
  font-size: 18px;
}

.dp__about-thefact,
.dp__must__have-title {
  font-size: 36px;
}

.dp__road-title,
.number,
.desc {
  font-weight: 600;
}

.dp__background-title,
.dp__background-button a,
.dp__about-title,
.dp__about-thefact,
.dp__must__have-name,
.dp__must__have-title {
  font-weight: 700;
}

.dp__about,
.dp__road-content,
.dp__must__have-item:hover .dp__must__have-icon {
  background: #e7f4f6;

}

.dp__road-title,
.dp__must__have-item:hover {
  background: #226FB7;
}

.dp__about__road,
.dp__must__have-wrapper,
.dp__must__have-title {
  margin: auto;
}

.dp__must__have,
.dp__about__road,
.dp__must__have-icon,
.dp__must__have-name,
.dp__must__have-item,
.dp__background-button a {
  transition: all 0.3s ease;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -90px;
  animation: spin 1s linear infinite;
  background-color: #fff;
  height: 140px;
  width: 140px;
  border: 5px solid #ebebec;
  border-radius: 50%;
}

.loading-border {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-top: 5px solid #226FB7;
  margin: -70px 0 0 -70px;
}

.loading-icon {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -76px 0 0 -76px;
  text-align: center;
  padding: 5px;
}

.loading-icon img {
  animation: loadingpulse 1s alternate infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingpulse {
  from {
    width: 120px;
  }

  to {
    width: 100px;
  }
}

#content {
  display: none;
}

.content {
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.dp__background {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 125px 0 425px;
  position: relative;
  z-index: 1;
}

.dp__background-title,
.dp__background-desc,
.dp__background-button {
  max-width: 750px;
  margin: auto;
  visibility: visible;
  position: relative;
  animation-fill-mode: forwards;
}

.dp__background-title {
  font-size: 55px;
  line-height: 1.2;
  margin-bottom: 16px;
  text-align: center;
  animation: bntitle 2s;
}

.dp__background-desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px;
  animation: bncontent 2s;
}

.dp__background-button {
  text-align: center !important;
  animation: bnbutton 2s;
}

@keyframes bncontent {
  from {
    right: -500px;
  }

  to {
    right: 0px;
  }
}

@keyframes bntitle {
  from {
    left: -500px;
  }

  to {
    left: 0px;
  }
}

@keyframes bnbutton {
  from {
    bottom: -500px;
  }

  to {
    bottom: 0px;
  }
}

.dp__background-button a {
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  text-decoration: none !important;
  outline: none !important;
  border: 1px solid #ff5421;
  border-radius: 30px;
  background: #ff5421;
  padding: 16px 58px;
}

.dp__background-button a:hover {
  background: #ff914d;
}

.dp__about__road {
  width: 82%;
  display: flex;
  flex-direction: row;
}

.dp__about {
  padding: 60px 60px 70px;
  border-radius: 5px;
  margin: -60px 50px 0 0;
  z-index: 10;
  flex: 64%;
}

.dp__about-title {
  margin-bottom: 8px;
  line-height: 28px;
}

.dp__about-thefact {
  margin-bottom: 26px;
}

.dp__about-desc {
  line-height: 30px;
}

.dp__road {
  margin-top: -60px;
  flex: 36%;
  z-index: 10;
  padding-left: 15px;
}

.dp__road-title {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 18px 25px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.dp__road-content {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 20px;
}

.number {
  flex: 30%;
  border-right: 1px solid #226FB7;
  text-align: center;
  font-size: 22px;
}

.desc {
  flex: 70%;
  padding-left: 10px;

}

.dp__must__have {
  width: 100%;
  background: #f3f8f9;
  padding: 94px 0 70px;
  margin-top: 100px;
}

.dp__must__have-title {
  width: 84%;
  margin-bottom: 30px;
  padding-left: 18px;
}

.dp__must__have-wrapper {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dp__must__have-item {
  padding: 20px;
  border: 1px solid #dfe9eb;
  border-radius: 5px;
}

.dp__must__have-item {
  display: flex;
  align-items: center;
  background: #ffffff;
  flex: 30.9%;
  height: 150px;
  margin: 20px 15px;
}

.dp__must__have-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: rgba(22, 170, 202, 0.2);
  text-align: center;
}

.dp__must__have-name {
  margin-bottom: 5px;
  font-size: 22px;
}

img {
  max-width: 100%;
  height: auto;
}

/* task alumni-saying css */
.dp-alumni-saying {
  width: 100%;
  height: 100%;
}
/* alumni-saying-title */
.alumni-saying__title {
  width: 100%;
  height: auto;
  text-align: center;
}
.alumni-saying__title h2 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
/* end title  */

/* alumni-body */
.alumni-saying__body {
  width: 100%;
  height: auto;
}
.alumni-saying__body .alumni-saying__content {
  width: 100%;
  height: auto;
  /* background-color: #cfcbcb; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.alumni-saying__body .alumni-saying__content .alumni-saying__card {
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 20px;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-header {
  width: 100%;
  padding: 30px;
  height: auto;
  background-color: #f3f8f9;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  min-height: 330px;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-header
  .alumni-saying__header-1 {
  text-align: center;
  position: relative;
  color: #505050;
  padding: 80px 30px 30px;
  font-size: 23px;
  font-weight: 700;
  font-family: italic;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-header
  .alumni-saying__header-1
  .heard-1__img {
  position: absolute;
  width: 66px;
  top: -13px;
  left: 50%;
  transform: translate(-50%);
}
.alumni-saying__item-header .heard-2__img {
  position: absolute;
  text-align: center;
  left: 44%;
  bottom: -40px;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-footer {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-footer
  .alumni-saying__name {
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  color: #226fb7;
  display: block;
}
.alumni-saying__body
  .alumni-saying__content
  .alumni-saying__card
  .alumni-saying__item
  .alumni-saying__item-footer
  .alumni-saying__dev {
  font-size: 16px;
}
.slick-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  background-color: #226fb7;
  border: none;
  font-size: 0;
  width: 35px;
  height: 15px;
  border-radius: 10px;
  opacity: 0.7;
}
.slick-active button {
  opacity: unset;
}

/* end body */

/* end css alumni-saying */

/* Tuan-footer */
.footer {
  background-image: url(../images/footer-bg.png);
  background-color: #273c66;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #505050;
  font-family: "Rubik", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.footer .footer_content {
  display: flex;
  color: white;
  margin: auto;
  width: 85%;
}

.footer .footer_content_the-skill,
.footer .footer_content_for-devplus,
.footer .footer_content_our-campus,
.footer.footer_content_address {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.footer .footer_content_the-skill_tittle,
.footer .footer_content_for-devplus_tittle,
.footer .footer_content_our-campus_tittle,
.footer .footer_content_address_tittle {
  padding-bottom: 25px;
}

.footer .footer_content p {
  font-weight: bold;
  font-size: 17px;
}

.footer .text {
  font-size: 15px;
}

.footer .footer_content_the-skill,
.footer .footer_content_address,
.footer .footer_content_our-campus {
  flex: 25%;
}

.footer .footer_content_for-devplus {
  flex: 25%;
  box-sizing: border-box;
}

.footer .class-shread::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #226fb7;
}

.footer li {
  color: white;
  display: list-item;
  text-align: -webkit-match-parent;
  padding-left: 15px;
  position: relative;
  margin-bottom: 11px;
}
.footer p {
  color: white;
}

.footer ul {
  list-style: outside none none;
  padding: 0px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer_content_address_communications tr:hover,
.footer_content_our-campus_three-plus li:hover,
.link:hover,
.footer_content_address_communications .content-call .address-call:hover,
.footer_content_address_communications .content-gmail .address-gamil:hover {
  color: #226fb7;
}

.footer .logo-address,
.footer .logo-call,
.footer .logo-gmail {
  width: 30px;
  height: 25px;
  padding-right: 7px;
}

.footer .footer_content {
  padding: 214px 0 93px;
}

.footer .footer_content .footer_content_address_communications img {
  position: absolute;
}

.footer .footer_content .footer_content_address_communications ul div {
  padding-left: 35px;
  color: #ffffff;
}

.footer .footer_content .footer_content_address_communications li {
  margin-right: 15px;
  padding-left: 0px;
}

.footer .footer_content .footer_content_address_communications li i::before {
  color: #ffffff;
}

.footer .footer_desc {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: auto;
  position: relative;
}

.footer .footer_desc {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.footer .footer_desc_devplus {
  width: 100%;
}

.footer .logo-devplus {
  width: 190px;
  height: 32px;
}

.footer .link-facebook {
  display: flex;
  align-items: center;
}

.fotter .logo-facebook i {
  font-size: 15px;
}

.footer .logo-facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #226fb7;
  text-align: center;
  margin-right: 10px;
}

.footer .logo-facebook:hover 
{
  background: #273c66;
}

.button_to-the-top {
  right: 1.5%;
  bottom: 37px;
  position: fixed;
  background: #226fb7;
  border-radius: 50%;
  height: 40px;
  font-weight: 600;
  width: 42px;
  color: #fff;
  line-height: 45px;
  transition: all 0.3s ease;
  margin-left: 2px;
  box-shadow: 0px 0px 1px rgb(0 0 0 / 40%);
  border: 0px solid #226fb7;
  z-index: 1;
}

.fa-solid,
.fas {
  font-size: 18px;
}

.fa-brands,
.fab {
  font-weight: 400;
  color: #226fb7;
  font-size: 31px;
}

.logo-facebook i:hover {
  color: rgb(25, 65, 122);
}

.footer_content_address_tittle,
.footer_content_our-campus_tittle,
.footer_content_for-devplus_tittle,
.footer_content_the-skill_tittle {
  font-family: "Nunito", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}
.footer_top {
  width: 100%;
}

.footer .logo-facebook path{
  color: white;
}
.button_to-the-top path{
  color: white;
}

.button_to-the-top 
.button_to-the-top:hover{
  background: #1e95ba;
}

 img .logo-devplus{
  max-width: 0;
}