@font-face {
  src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-family: 'Nunito';
}

@font-face {
  src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
  font-family: 'Rubik';
}

* {
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 400;
  color: #505050;
  margin: 0;
  padding: 0;

}

*,
::before,
::after {
  box-sizing: border-box;
}

.content__background-button a,
.content__background-title,
.content__road-title,
.content__must__have-item:hover .content__must__have-content .content__must__have-name,
.content__must__have-item:hover .content__must__have-content .content__must__have-course {
  color: #ffffff;
}

.content__about-title,
.number {
  color: #226FB7;
}

.content__about-thefact,
.content__must__have-name,
.content__must__have-title {
  color: #111111;
}

.content__background-content,
.content__background-button a,
.content__about-title,
.content__about-desc,
.desc,
.content__must__have-course {
  font-family: 'Rubik';
}

.content__about-title,
.content__about-desc {
  font-size: 18px;
}

.content__about-thefact,
.content__must__have-title {
  font-size: 36px;
}

.content__road-title,
.number,
.desc {
  font-weight: 600;
}

.content__background-title,
.content__background-button a,
.content__about-title,
.content__about-thefact,
.content__must__have-name,
.content__must__have-title {
  font-weight: 700;
}

.content__about,
.content__road-content,
.content__must__have-item:hover .content__must__have-icon {
  background: #e7f4f6;

}

.content__road-title,
.content__must__have-item:hover {
  background: #226FB7;
}

.content__about__road,
.content__must__have-wrapper,
.content__must__have-title {
  margin: auto;
}

.content__must__have,
.content__about__road,
.content__must__have-icon,
.content__must__have-name,
.content__must__have-item,
.content__background-button a {
  transition: all 0.3s ease;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -90px;
  animation: spin 1s linear infinite;
  background-color: #fff;
  height: 140px;
  width: 140px;
  border: 5px solid #ebebec;
  border-radius: 50%;
}

.loading-border {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-top: 5px solid #226FB7;
  margin: -70px 0 0 -70px;
}

.loading-icon {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -76px 0 0 -76px;
  text-align: center;
  padding: 5px;
}

.loading-icon img {
  animation: loadingpulse 1s alternate infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingpulse {
  from {
    width: 120px;
  }

  to {
    width: 100px;
  }
}

#content {
  display: none;
}

.content {
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.content__background {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 125px 0 425px;
  position: relative;
  z-index: 1;
}

.content__background-title,
.content__background-content,
.content__background-button {
  max-width: 750px;
  margin: auto;
  visibility: visible;
  position: relative;
  animation-fill-mode: forwards;
}

.content__background-title {
  font-size: 55px;
  line-height: 1.2;
  margin-bottom: 16px;
  text-align: center;
  animation: bntitle 2s;
}

.content__background-content {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px;
  animation: bncontent 2s;
}

.content__background-button {
  text-align: center !important;
  animation: bnbutton 2s;
}

@keyframes bncontent {
  from {
    right: -500px;
  }

  to {
    right: 0px;
  }
}

@keyframes bntitle {
  from {
    left: -500px;
  }

  to {
    left: 0px;
  }
}

@keyframes bnbutton {
  from {
    bottom: -500px;
  }

  to {
    bottom: 0px;
  }
}

.content__background-button a {
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  text-decoration: none !important;
  outline: none !important;
  border: 1px solid #ff5421;
  border-radius: 30px;
  background: #ff5421;
  padding: 16px 58px;
}

.content__background-button a:hover {
  background: #ff914d;
}

.content__about__road {
  width: 82%;
  display: flex;
  flex-direction: row;
}

.content__about {
  padding: 60px 60px 70px;
  border-radius: 5px;
  margin: -60px 50px 0 0;
  z-index: 10;
  flex: 64%;
}

.content__about-title {
  margin-bottom: 8px;
  line-height: 28px;
}

.content__about-thefact {
  margin-bottom: 26px;
}

.content__about-desc {
  line-height: 30px;
}

.content__road {
  margin-top: -60px;
  flex: 36%;
  z-index: 10;
  padding-left: 15px;
}

.content__road-title {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 18px 25px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.content__road-content {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 20px;
}

.number {
  flex: 30%;
  border-right: 1px solid #226FB7;
  text-align: center;
  font-size: 22px;
}

.desc {
  flex: 70%;
  padding-left: 10px;

}

.content__must__have {
  width: 100%;
  background: #f3f8f9;
  padding: 94px 0 70px;
  margin-top: 100px;
}

.content__must__have-title {
  width: 84%;
  margin-bottom: 30px;
  padding-left: 18px;
}

.content__must__have-wrapper {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__must__have-item {
  padding: 20px;
  border: 1px solid #dfe9eb;
  border-radius: 5px;
}

.content__must__have-item {
  display: flex;
  align-items: center;
  background: #ffffff;
  flex: 30.9%;
  height: 150px;
  margin: 20px 15px;
}

.content__must__have-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: rgba(22, 170, 202, 0.2);
  text-align: center;
}

.content__must__have-name {
  margin-bottom: 5px;
  font-size: 22px;
}

img {
  max-width: 100%;
  height: auto;
}